body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81b1ff;
    font-family: 'DejaVu Serif';
}
.poster {
    width: 180px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.poster-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom:15px;
    object-fit: cover;
}
.poster-info {
    display: flex;
    flex-direction: column;
}
.poster-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.poster-header h2 {
    margin: 0;
    font-size: 14px;
    padding-bottom: 6px;
}
.poster-info p {
    margin: 0;
    font-size: 10px;
    color: black;
}
.poster-menu {
    font-size: 16px;
    color: #2f2e2f;
    font-weight: bold;
}
