
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'peyda-medium';
    background-color: #fff;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.Old-Man {
    flex: 1;
    margin: 0;
    padding: 0;
    width: 1084px;
}

.Old-Man img {
    width: 100%;
    height: 100%;
}

.Hope {
    width : 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.Hope img {
    width:303px;
	height:242px;
    display: flex;
	justify-content: center;
}

.subtitle {
    font-size:18px;
	margin-bottom:50px;
    font-family: 'peyda-medium';
    color: black;
    text-align: center;
}

form {
	width:100%;
	height:304px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 300px;
    color: black;
    font-family:'peyda-bold';
	font-size:16px;
	justify-content: space-between;
}

form label {
    margin: 20px 0 10px 0;
    color: black;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    background-color: #f0f0f0;
    text-align: right;
    font-family: 'peyda-medium';
    font-size: 13px;
    margin-bottom: 30px;
}

button {
	width:321.6px;
	height:40px;
	border-radius:12px;
	background-color:#234C6A;
	color:white;
    margin-top: 20px;
    font-family: 'peyda-bold';
}

