 table {
    border-collapse: collapse;
    margin: 50px auto;
    text-align: center;
  }
  th, td {
    border: 1px solid black;
    padding: 20px;
  }
  th {
    font-weight: bold;
  }
  .left {
    text-align: left;
  }